        body {
            height: 100%;
            width: 99%;
            background-color: rgb(248, 248, 248);
        }
        content {
            text-align: center;
        }
        #site-box {
            margin-bottom: 1em;
            margin-left: 92%;
            border-radius: 7%;
        }
        #app {
            margin-top: 10em;
        }
        #app .content-item input {
            font-size: 2em;
            margin: 3px;
        }
        body div button {
            margin-top: 1em;
            font-size: 2em;
            background-color: aqua;
        }
        footer {
            position: absolute;
            bottom: 0px;
            width: 99%;
            border: 1px solid skyblue;
            background-color: skyblue;
        }

