<!DOCTYPE html>
<html lang="kr">
    <head>
        <link rel="stylesheet" href="css/index.css" type="text/css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>  
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <script>

    </script>

    <body>
        <div id="app">
            <!-- header start -->
            <header></header>
            <!-- header end -->

            <!-- section start -->
            <section>
                <div class="section-item">
                    <input id="userID" type="text" placeholder="ID" v-model="userID"><br>
                    <input id="userPwd" type="password" placeholder="PW" v-model="userPwd"><br>
                </div>
                <div>
                    <button @click="loginBtn">로그인</button>
                </div>
            </section>
            <!-- section end -->
            
            <div id="footer">
            </div>
            <!-- footer start -->
            <footer>
                <div class="footer-item">
                    <p>
            주식회사 세스코                                                 개인정보처리방침<br>
            서울특별시 강동구 상일로 10길 46 (세스코 터치센터)<br><br>

            copyright 2022 cesco all rights reserved.
                    </p>
                    <select name="site-box" id="site-box" @change="siteChange($event)">
                        <option>패밀리사이트</option>
                        <option value="cesco">세스코홈페이지</option>
                        <option value="cescoMall">세스코쇼핑몰</option>
                        <option value="gwCesco">세스코그룹웨어</a></option>
                    </select>
                </div>
            </footer>
            <!-- footer end -->
        </div>
    </body>

    <script>
        new Vue({
            el: "#app",
            data() {
                return {
                    userID: "",
                    userPwd: "",
                }
            },
            methods: {
                loginBtn(){
                    if (this.userID && this.userPwd) {
                        alert("로그인");
                        axios.post('/board', null, { params: {
                            userID: this.userID,
                            userPwd: this.userPwd
                        }})
                        .then((response) => {
                            console.log(response)
                            location.href="/board?userID=" + this.userID + "&userPwd=" + this.userPwd;
                        })
                        .catch((error) => {
                            console.log(error)
                        });
                    }else if (!this.userID) {
                        alert("아이디를 입력해주세요.")
                        $("#userID").val("");
                        $("#userID").focus();
                        
                    }else if (!this.userPwd) {
                        alert("비밀번호를 입력해주세요.")
                        $("#userPwd").val("");
                        $("#userPwd").focus();
                    }
                },
                siteChange(event){
                    switch(event.target.value){
                        case "cesco":
                            window.open("https://www.cesco.co.kr");
                            break;
                        case "cescoMall":
                            window.open("https://mall.cesco.co.kr");
                            break;
                        case "gwCesco":
                            window.open("https://gw.cesco.co.kr");
                            break;
                    }
                }
            },
        })
    </script>

</html>