<footer>
    <div class="footer-item">
        <p>
주식회사 세스코                                                 개인정보처리방침<br>
서울특별시 강동구 상일로 10길 46 (세스코 터치센터)<br><br>

copyright 2022 cesco all rights reserved.
            </p>
        <select name="site-box" id="site-box" onchange="window.open(value)">
            <option>패밀리사이트</option>
            <option value="https://www.cesco.co.kr">세스코홈페이지</option>
            <option value="https://mall.cesco.co.kr">세스코쇼핑몰</option>
            <option value="https://gw.cesco.co.kr">세스코그룹웨어</a></option>
        </select>
    </div>
</footer>
